In [55]:
print("Abir 2")

Abir 2

In [7]:
s = "Abir 2"

print(type(s))

<class 'str'>

In [10]:
s = 6

print(type(s))

<class 'int'>

In [11]:
s = 6.7

print(type(s))

<class 'float'>

In [ ]:
s = 9

print("Is the number", s, "for sure?") #normal print

is the number 9 for sure?

In [ ]:
a = "Hello"
b = "Sir!"

(a+' '+ b + ' ')*4 #short loop

'Hello Sir! Hello Sir! Hello Sir! Hello Sir! '

In [ ]:
a*4 #only prints the last command!
b*5 #also saved from previous code

'Sir!Sir!Sir!Sir!Sir!'

In [ ]:
type(float(s))


# s = 55
# float(s)
# type(s)

float

In [35]:
p = 3

print(p**3) # ** works as power

27

In [43]:
n = input()

print (n)
type(n)

5

str

In [ ]:
# type casting

n = int(input())
n = float(input())
n = (input()) #default type str

### IF ELSE

### type title enter

In [45]:
a=2
b=3

if a>b:
    print(a)
else: print(b)

3

### Loop

In [ ]:
sum = 0                    #range (initial, final, increment)
for i in range (1, 10, 1): #1-9 last value doesn't counts
    sum += i
sum

45

In [8]:
sum = 0
i = 0
while i < 10:
     sum += i
     i += 1
sum

45

### Array

In [ ]:
arr = [1, 2, "abc", "c"]
print(arr[2]) #2nd array
arr[2][0] #[array position no.][selected array's index position] array inside array

abc

'a'

In [ ]:
arr.append("CSE") #no. of enter adds up
arr

[1, 2, 'abc', 'c', 'CSE']

In [ ]:
arr.insert(0, "uiu") #insert(index no. , value)
arr

['uiu', 'uiu', 1, 2, 'abc', 'c', 'CSE']

In [ ]:
arr.pop(0) #pop(index no.)
arr

['uiu', 1, 2, 'abc', 'c', 'CSE']

In [ ]:
arr.remove(1) #remove(value)
arr

['uiu', 2, 'abc', 'c', 'CSE']

In [25]:
if "uiu" in arr:
   print("element found")
else: print("Not element found")

element found

### ARRAY Slice

In [ ]:
arr[-1:] # (-ve) idecates backward print  arr[forward index:backward index]

['CSE']

In [ ]:
arr[1:] #prints all except 1st index

[2, 'abc', 'c', 'CSE']

In [ ]:
arr[:1] #prints last index

['uiu']

In [ ]:
arr[1:2] 
# --> 0,1 
# 2, 1, 0 <--

[2]

In [ ]:
for  i in range(len(arr)): #len means length
    print(arr[i])

uiu
2
abc
c
CSE

In [ ]:
for i in arr: #same as len version
    print(i)

uiu
2
abc
c
CSE

In [ ]:
a = [1,2,3,4,5]
for i in range(len(a)): #default range(len(a)) = range(0, len(a), 1) 
    for j in range(i+1, len(a), 1):
        print(a[i], a[j])

1 2
1 3
1 4
1 5
2 3
2 4
2 5
3 4
3 5
4 5

### Functions

In [52]:
def sum(a,b): return a+b

sum (5,6) #automatically initiates varriable types

11

In [ ]:
sum ("Hello", "World")

'HelloWorld'

In [ ]:
#different types doesnot adds up

### Dictionary

In [ ]:
dictionary = {
    "Name" : "me",
    "ID" : 84,
    "Batch" : 232
}
dictionary

{'Name': 'me', 'ID': 84, 'Batch': 232}